body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    background-color: rgb(70, 63, 63);
    display: flex;

}

li {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

section {
    color: rgb(107, 101, 101);
}

.title h1 {
    font-size: 50px;
    font-weight: bold;

}

h2 {
    font-weight: bolder;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700px;
    font-size: medium;

}

p {
    margin-bottom: 40px;

}

button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-image: linear-gradient(orange, red);
    border: none;
    font-size: 18px;
}

span {
    color: orange;
}

.half-width {
    width: 50%;
}

.group {
    margin-top: 30px;
    width: 80%;
}

.introduction {
    margin-top: 100px;
    margin-left: 70px;
}

.flexible-class {
    display: flex;
}

.about {
    margin-top: 100px;
    margin-right: 100px;
}

.about p {
    color: black;
}

.person {
    margin-top: 88px;
    margin-left: 170px;
    height: 412px;

}

.second {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
}

.recipies {
    text-align: center;
}

.recipies p {

    margin-left: 15%;
    margin-right: 15%;
    color: black;
}

.recipies-card {
    display: flex;
    justify-content: space-around;
}

.menu {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 10%);
    width: 25%;
    border-radius: 5%;
    padding: 15px 15px 15px 15px;
    color: black;
}

.menu img {
    width: 100%;
}

h3 {
    font-weight: 900;
    color: black;
}

.forth {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.forth-one {
    display: flex;
    justify-content: space-between;
    width: 70%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 10%);
    padding: 20px;
    border-radius: 15px;
}

.follower {
    color: black;
    text-align: center;
}


.follower p {
    margin-top: -50px;
    font-size: 16px;
}

.follower h1 {
    font-size: 48px;
    font-weight: 900px;

}

.footer {
    background-color: rgb(41, 35, 35);
    text-align: center;
    height: 200px;
    margin-top: 100px;
    padding-top: 50px;
}

.footer p {
    color: white;
}

.extra {
    background-image: url(images/shapes/Group\ 8448.png);
    text-align: center;
}

.extra img {
    width: 15%;
    border-radius: 10%;
}